#basic label{
    float: right;
    width: 30%;
    text-align: center;
    line-height: 60px;
    margin: 0;
    height: 100%;
    font-size: 1.0vw;
    font-family: adobe-arabic;
}

#basic input[type="password"],#basic input[type="text"],#basic input[type="email"],.select2,#basic select{
    width: 60% !important;
    float: right;
    margin: 15px;
}

#basic label input{
    width: fit-content !important;
    float: none !important;
}
.prev-button,.next-button,.save-button{
    width: 100px;
    background-color: #222d32;
    color: white;
    font-size: 1vw;
    font-family: adobe-arabic;
    letter-spacing: 1.3px;
    font-weight: 700;
    margin: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px !important;
    height: 20px !important;
    margin: 10px 0 !important;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.notifi  label:first-child{
    width: fit-content !important;
    margin: 0 37px !important;
    line-height: 37px !important;
}